@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Alert
@model Volo.Abp.AspNetCore.Mvc.UI.Layout.ContentLayout

<div class="col">
    <h4 class="text-3xl font-bold underline">@Model.Title</h4>
</div>  